<h1>Mouse Right Click</h1>
<!-- <p-contextMenu [global]='true' [model]='menuItems'></p-contextMenu> -->


<!-- <p-dialog header="Form" [(visible)]="display" [responsive]='true' [style]="{width: '350px', minWidth: '200px'}">
  <p-header> Add</p-header>
    <form [formGroup]='addForm'>
        <span class="ui-float-label">
            <h1></h1>
            <input type="text" id='float-input' size='20' pInputText formControlName='articleName'>
            <label for="float-input">Name</label>
          </span>
          <h1></h1>
          <span class="ui-float-label">
            <input type="number" id='float-input' size='20' pInputText  formControlName='category'>
            <label for="float-input">Age</label>
          </span>
    </form>
  <p-footer>
    <button type="submit" pButton icon="pi pi-check" (click)="onAdd()" label="Save"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" ></button>
  </p-footer>
</p-dialog> -->
